<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "com.phonegap.getting.started"
	version 	= "0.0.01">

	<name>Elecciones</name>

	<description>
		Aplicación que permite a los jurados de votación y testigos electorales informar resultados de votación, 
		asi mismo a los ciudadanos informarse sobre estos resultados y compararlos con la fuente oficial.
	</description>

	<author href="http://ideasenespanol.github.com"
		email="benjamin.a.rodriguez@gmail.com">
		Benjamin A Rodriguez R.
	</author>

	<gap:platforms>
		<gap:platform name="android" minVersion="2.1" />
		<gap:platform name="webos" />
		<gap:platform name="symbian.wrt" />
		<gap:platform name="blackberry" project="widgets"/>
	</gap:platforms>

	<icon src="icon.png" gap:role="default" />

	<feature name="http://api.phonegap.com/1.0/network"/>

	<!-- sample preference specification -->
	<!-- <preference name="autorotate" value="false" readonly="true"/> -->
</widget>
